<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    <button class="btn btn-link" routerLink="/">Homepage</button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>13.09.2020</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid aut dignissimos dolorum fugiat minus numquam suscipit veniam? Asperiores delectus doloremque est, explicabo fugiat illo, impedit ipsa laudantium maxime nihil perspiciatis quaerat quibusdam sapiente sunt suscipit tempora unde ut voluptatibus. Animi nisi nobis obcaecati odit possimus praesentium tempore, tenetur unde.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid aut dignissimos dolorum fugiat minus numquam suscipit veniam? Asperiores delectus doloremque est, explicabo fugiat illo, impedit ipsa laudantium maxime nihil perspiciatis quaerat quibusdam sapiente sunt suscipit tempora unde ut voluptatibus. Animi nisi nobis obcaecati odit possimus praesentium tempore, tenetur unde.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid aut dignissimos dolorum fugiat minus numquam suscipit veniam? Asperiores delectus doloremque est, explicabo fugiat illo, impedit ipsa laudantium maxime nihil perspiciatis quaerat quibusdam sapiente sunt suscipit tempora unde ut voluptatibus. Animi nisi nobis obcaecati odit possimus praesentium tempore, tenetur unde.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid aut dignissimos dolorum fugiat minus numquam suscipit veniam? Asperiores delectus doloremque est, explicabo fugiat illo, impedit ipsa laudantium maxime nihil perspiciatis quaerat quibusdam sapiente sunt suscipit tempora unde ut voluptatibus. Animi nisi nobis obcaecati odit possimus praesentium tempore, tenetur unde.</p>
  </div>
</div>


